.plan.cmyk-red > li.plan-footer {
  background-color: #ed1c24;
  border-top: 1px solid #d91119;
}
.plan.cmyk-red > li.plan-footer .pricing-select {
  color: #f8aaad;
  background-color: #a00d12;
  border: 1px solid #ef343b;
}
.plan.cmyk-red > li.plan-footer .pricing-select:hover {
  background-color: #71090d;
  color: #fcd9da;
}
.plan.cmyk-red .plan-name,
.plan.cmyk-red .plan-price {
  background-color: #ed1c24;
  border-bottom: 1px solid #d91119;
  color: #970c11;
  -o-text-shadow: 0 1px 1px #f69296;
  -moz-text-shadow: 0 1px 1px #f69296;
  -ms-text-shadow: 0 1px 1px #f69296;
  -webkit-text-shadow: 0 1px 1px #f69296;
  text-shadow: 0 1px 1px #f69296;
}
.plan.cmyk-red .plan-name {
  border-bottom: 1px solid #d91119;
}
.plan.cmyk-red .plan-price {
  border-top: 1px solid #ef383f;
}
.plan.cmyk-red.featured .plan-header,
.plan.cmyk-red.featured .plan-name,
.plan.cmyk-red.featured .plan-price,
.plan.cmyk-red.featured .plan-footer {
  background-color: #ef343b;
}
.plan.cmyk-red:hover .plan-header,
.plan.cmyk-red:hover .plan-name,
.plan.cmyk-red:hover .plan-price,
.plan.cmyk-red:hover .plan-footer {
  background-color: #f14b52;
}
.plan.cmyk-red:hover .plan-name {
  border-bottom: 1px solid #ed1c24;
}
.plan.cmyk-red:hover .plan-price {
  border-top: 1px solid #f1555b;
}
.plan.cmyk-yellow > li.plan-footer {
  background-color: #fff200;
  border-top: 1px solid #e0d500;
}
.plan.cmyk-yellow > li.plan-footer .pricing-select {
  color: #fffa99;
  background-color: #a39b00;
  border: 1px solid #fff31a;
}
.plan.cmyk-yellow > li.plan-footer .pricing-select:hover {
  background-color: #706a00;
  color: #fffccc;
}
.plan.cmyk-yellow .plan-name,
.plan.cmyk-yellow .plan-price {
  background-color: #fff200;
  border-bottom: 1px solid #e0d500;
  color: #999100;
  -o-text-shadow: 0 1px 1px #fff980;
  -moz-text-shadow: 0 1px 1px #fff980;
  -ms-text-shadow: 0 1px 1px #fff980;
  -webkit-text-shadow: 0 1px 1px #fff980;
  text-shadow: 0 1px 1px #fff980;
}
.plan.cmyk-yellow .plan-name {
  border-bottom: 1px solid #e0d500;
}
.plan.cmyk-yellow .plan-price {
  border-top: 1px solid #fff41f;
}
.plan.cmyk-yellow.featured .plan-header,
.plan.cmyk-yellow.featured .plan-name,
.plan.cmyk-yellow.featured .plan-price,
.plan.cmyk-yellow.featured .plan-footer {
  background-color: #fff31a;
}
.plan.cmyk-yellow:hover .plan-header,
.plan.cmyk-yellow:hover .plan-name,
.plan.cmyk-yellow:hover .plan-price,
.plan.cmyk-yellow:hover .plan-footer {
  background-color: #fff533;
}
.plan.cmyk-yellow:hover .plan-name {
  border-bottom: 1px solid #fff200;
}
.plan.cmyk-yellow:hover .plan-price {
  border-top: 1px solid #fff53d;
}
.plan.cmyk-green > li.plan-footer {
  background-color: #00a651;
  border-top: 1px solid #008742;
}
.plan.cmyk-green > li.plan-footer .pricing-select {
  color: #40ff9d;
  background-color: #004a24;
  border: 1px solid #00c05d;
}
.plan.cmyk-green > li.plan-footer .pricing-select:hover {
  background-color: #00170b;
  color: #73ffb7;
}
.plan.cmyk-green .plan-name,
.plan.cmyk-green .plan-price {
  background-color: #00a651;
  border-bottom: 1px solid #008742;
  color: #00401f;
  -o-text-shadow: 0 1px 1px #26ff90;
  -moz-text-shadow: 0 1px 1px #26ff90;
  -ms-text-shadow: 0 1px 1px #26ff90;
  -webkit-text-shadow: 0 1px 1px #26ff90;
  text-shadow: 0 1px 1px #26ff90;
}
.plan.cmyk-green .plan-name {
  border-bottom: 1px solid #008742;
}
.plan.cmyk-green .plan-price {
  border-top: 1px solid #00c560;
}
.plan.cmyk-green.featured .plan-header,
.plan.cmyk-green.featured .plan-name,
.plan.cmyk-green.featured .plan-price,
.plan.cmyk-green.featured .plan-footer {
  background-color: #00c05d;
}
.plan.cmyk-green:hover .plan-header,
.plan.cmyk-green:hover .plan-name,
.plan.cmyk-green:hover .plan-price,
.plan.cmyk-green:hover .plan-footer {
  background-color: #00d96a;
}
.plan.cmyk-green:hover .plan-name {
  border-bottom: 1px solid #00a651;
}
.plan.cmyk-green:hover .plan-price {
  border-top: 1px solid #00e36f;
}
.plan.cmyk-cyan > li.plan-footer {
  background-color: #00aeef;
  border-top: 1px solid #0098d0;
}
.plan.cmyk-cyan > li.plan-footer .pricing-select {
  color: #89dfff;
  background-color: #006b93;
  border: 1px solid #0abcff;
}
.plan.cmyk-cyan > li.plan-footer .pricing-select:hover {
  background-color: #004660;
  color: #bcedff;
}
.plan.cmyk-cyan .plan-name,
.plan.cmyk-cyan .plan-price {
  background-color: #00aeef;
  border-bottom: 1px solid #0098d0;
  color: #006489;
  -o-text-shadow: 0 1px 1px #70d8ff;
  -moz-text-shadow: 0 1px 1px #70d8ff;
  -ms-text-shadow: 0 1px 1px #70d8ff;
  -webkit-text-shadow: 0 1px 1px #70d8ff;
  text-shadow: 0 1px 1px #70d8ff;
}
.plan.cmyk-cyan .plan-name {
  border-bottom: 1px solid #0098d0;
}
.plan.cmyk-cyan .plan-price {
  border-top: 1px solid #0fbeff;
}
.plan.cmyk-cyan.featured .plan-header,
.plan.cmyk-cyan.featured .plan-name,
.plan.cmyk-cyan.featured .plan-price,
.plan.cmyk-cyan.featured .plan-footer {
  background-color: #0abcff;
}
.plan.cmyk-cyan:hover .plan-header,
.plan.cmyk-cyan:hover .plan-name,
.plan.cmyk-cyan:hover .plan-price,
.plan.cmyk-cyan:hover .plan-footer {
  background-color: #23c3ff;
}
.plan.cmyk-cyan:hover .plan-name {
  border-bottom: 1px solid #00aeef;
}
.plan.cmyk-cyan:hover .plan-price {
  border-top: 1px solid #2dc6ff;
}
.plan.cmyk-blue > li.plan-footer {
  background-color: #2e3192;
  border-top: 1px solid #27297b;
}
.plan.cmyk-blue > li.plan-footer .pricing-select {
  color: #8284d7;
  background-color: #181a4c;
  border: 1px solid #3438a5;
}
.plan.cmyk-blue > li.plan-footer .pricing-select:hover {
  background-color: #0c0d25;
  color: #a8aae4;
}
.plan.cmyk-blue .plan-name,
.plan.cmyk-blue .plan-price {
  background-color: #2e3192;
  border-bottom: 1px solid #27297b;
  color: #161744;
  -o-text-shadow: 0 1px 1px #6e71d1;
  -moz-text-shadow: 0 1px 1px #6e71d1;
  -ms-text-shadow: 0 1px 1px #6e71d1;
  -webkit-text-shadow: 0 1px 1px #6e71d1;
  text-shadow: 0 1px 1px #6e71d1;
}
.plan.cmyk-blue .plan-name {
  border-bottom: 1px solid #27297b;
}
.plan.cmyk-blue .plan-price {
  border-top: 1px solid #3539a9;
}
.plan.cmyk-blue.featured .plan-header,
.plan.cmyk-blue.featured .plan-name,
.plan.cmyk-blue.featured .plan-price,
.plan.cmyk-blue.featured .plan-footer {
  background-color: #3438a5;
}
.plan.cmyk-blue:hover .plan-header,
.plan.cmyk-blue:hover .plan-name,
.plan.cmyk-blue:hover .plan-price,
.plan.cmyk-blue:hover .plan-footer {
  background-color: #3a3eb9;
}
.plan.cmyk-blue:hover .plan-name {
  border-bottom: 1px solid #2e3192;
}
.plan.cmyk-blue:hover .plan-price {
  border-top: 1px solid #3d41c1;
}
.plan.cmyk-magenta > li.plan-footer {
  background-color: #ec008c;
  border-top: 1px solid #cd007a;
}
.plan.cmyk-magenta > li.plan-footer .pricing-select {
  color: #ff86ce;
  background-color: #900056;
  border: 1px solid #ff079a;
}
.plan.cmyk-magenta > li.plan-footer .pricing-select:hover {
  background-color: #5d0037;
  color: #ffb9e3;
}
.plan.cmyk-magenta .plan-name,
.plan.cmyk-magenta .plan-price {
  background-color: #ec008c;
  border-bottom: 1px solid #cd007a;
  color: #86004f;
  -o-text-shadow: 0 1px 1px #ff6dc3;
  -moz-text-shadow: 0 1px 1px #ff6dc3;
  -ms-text-shadow: 0 1px 1px #ff6dc3;
  -webkit-text-shadow: 0 1px 1px #ff6dc3;
  text-shadow: 0 1px 1px #ff6dc3;
}
.plan.cmyk-magenta .plan-name {
  border-bottom: 1px solid #cd007a;
}
.plan.cmyk-magenta .plan-price {
  border-top: 1px solid #ff0c9c;
}
.plan.cmyk-magenta.featured .plan-header,
.plan.cmyk-magenta.featured .plan-name,
.plan.cmyk-magenta.featured .plan-price,
.plan.cmyk-magenta.featured .plan-footer {
  background-color: #ff079a;
}
.plan.cmyk-magenta:hover .plan-header,
.plan.cmyk-magenta:hover .plan-name,
.plan.cmyk-magenta:hover .plan-price,
.plan.cmyk-magenta:hover .plan-footer {
  background-color: #ff20a4;
}
.plan.cmyk-magenta:hover .plan-name {
  border-bottom: 1px solid #ec008c;
}
.plan.cmyk-magenta:hover .plan-price {
  border-top: 1px solid #ff2aa8;
}
.plan.grey-20 > li.plan-footer {
  background-color: #d7d7d7;
  border-top: 1px solid #c8c8c8;
}
.plan.grey-20 > li.plan-footer .pricing-select {
  color: #ffffff;
  background-color: #a9a9a9;
  border: 1px solid #e4e4e4;
}
.plan.grey-20 > li.plan-footer .pricing-select:hover {
  background-color: #909090;
  color: #ffffff;
}
.plan.grey-20 .plan-name,
.plan.grey-20 .plan-price {
  background-color: #d7d7d7;
  border-bottom: 1px solid #c8c8c8;
  color: #a4a4a4;
  -o-text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -ms-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  text-shadow: 0 1px 1px #ffffff;
}
.plan.grey-20 .plan-name {
  border-bottom: 1px solid #c8c8c8;
}
.plan.grey-20 .plan-price {
  border-top: 1px solid #e6e6e6;
}
.plan.grey-20.featured .plan-header,
.plan.grey-20.featured .plan-name,
.plan.grey-20.featured .plan-price,
.plan.grey-20.featured .plan-footer {
  background-color: #e4e4e4;
}
.plan.grey-20:hover .plan-header,
.plan.grey-20:hover .plan-name,
.plan.grey-20:hover .plan-price,
.plan.grey-20:hover .plan-footer {
  background-color: #f1f1f1;
}
.plan.grey-20:hover .plan-name {
  border-bottom: 1px solid #d7d7d7;
}
.plan.grey-20:hover .plan-price {
  border-top: 1px solid #f6f6f6;
}
.plan.grey-25 > li.plan-footer {
  background-color: #cccccc;
  border-top: 1px solid #bdbdbd;
}
.plan.grey-25 > li.plan-footer .pricing-select {
  color: #ffffff;
  background-color: #9e9e9e;
  border: 1px solid #d9d9d9;
}
.plan.grey-25 > li.plan-footer .pricing-select:hover {
  background-color: #858585;
  color: #ffffff;
}
.plan.grey-25 .plan-name,
.plan.grey-25 .plan-price {
  background-color: #cccccc;
  border-bottom: 1px solid #bdbdbd;
  color: #999999;
  -o-text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -ms-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  text-shadow: 0 1px 1px #ffffff;
}
.plan.grey-25 .plan-name {
  border-bottom: 1px solid #bdbdbd;
}
.plan.grey-25 .plan-price {
  border-top: 1px solid #dbdbdb;
}
.plan.grey-25.featured .plan-header,
.plan.grey-25.featured .plan-name,
.plan.grey-25.featured .plan-price,
.plan.grey-25.featured .plan-footer {
  background-color: #d9d9d9;
}
.plan.grey-25:hover .plan-header,
.plan.grey-25:hover .plan-name,
.plan.grey-25:hover .plan-price,
.plan.grey-25:hover .plan-footer {
  background-color: #e6e6e6;
}
.plan.grey-25:hover .plan-name {
  border-bottom: 1px solid #cccccc;
}
.plan.grey-25:hover .plan-price {
  border-top: 1px solid #ebebeb;
}
.plan.grey-30 > li.plan-footer {
  background-color: #c2c2c2;
  border-top: 1px solid #b3b3b3;
}
.plan.grey-30 > li.plan-footer .pricing-select {
  color: #ffffff;
  background-color: #949494;
  border: 1px solid #cfcfcf;
}
.plan.grey-30 > li.plan-footer .pricing-select:hover {
  background-color: #7b7b7b;
  color: #ffffff;
}
.plan.grey-30 .plan-name,
.plan.grey-30 .plan-price {
  background-color: #c2c2c2;
  border-bottom: 1px solid #b3b3b3;
  color: #8f8f8f;
  -o-text-shadow: 0 1px 1px #ffffff;
  -moz-text-shadow: 0 1px 1px #ffffff;
  -ms-text-shadow: 0 1px 1px #ffffff;
  -webkit-text-shadow: 0 1px 1px #ffffff;
  text-shadow: 0 1px 1px #ffffff;
}
.plan.grey-30 .plan-name {
  border-bottom: 1px solid #b3b3b3;
}
.plan.grey-30 .plan-price {
  border-top: 1px solid #d1d1d1;
}
.plan.grey-30.featured .plan-header,
.plan.grey-30.featured .plan-name,
.plan.grey-30.featured .plan-price,
.plan.grey-30.featured .plan-footer {
  background-color: #cfcfcf;
}
.plan.grey-30:hover .plan-header,
.plan.grey-30:hover .plan-name,
.plan.grey-30:hover .plan-price,
.plan.grey-30:hover .plan-footer {
  background-color: #dbdbdb;
}
.plan.grey-30:hover .plan-name {
  border-bottom: 1px solid #c2c2c2;
}
.plan.grey-30:hover .plan-price {
  border-top: 1px solid #e1e1e1;
}
.plan.grey-35 > li.plan-footer {
  background-color: #b7b7b7;
  border-top: 1px solid #a8a8a8;
}
.plan.grey-35 > li.plan-footer .pricing-select {
  color: #ffffff;
  background-color: #898989;
  border: 1px solid #c4c4c4;
}
.plan.grey-35 > li.plan-footer .pricing-select:hover {
  background-color: #707070;
  color: #ffffff;
}
.plan.grey-35 .plan-name,
.plan.grey-35 .plan-price {
  background-color: #b7b7b7;
  border-bottom: 1px solid #a8a8a8;
  color: #848484;
  -o-text-shadow: 0 1px 1px #f7f7f7;
  -moz-text-shadow: 0 1px 1px #f7f7f7;
  -ms-text-shadow: 0 1px 1px #f7f7f7;
  -webkit-text-shadow: 0 1px 1px #f7f7f7;
  text-shadow: 0 1px 1px #f7f7f7;
}
.plan.grey-35 .plan-name {
  border-bottom: 1px solid #a8a8a8;
}
.plan.grey-35 .plan-price {
  border-top: 1px solid #c6c6c6;
}
.plan.grey-35.featured .plan-header,
.plan.grey-35.featured .plan-name,
.plan.grey-35.featured .plan-price,
.plan.grey-35.featured .plan-footer {
  background-color: #c4c4c4;
}
.plan.grey-35:hover .plan-header,
.plan.grey-35:hover .plan-name,
.plan.grey-35:hover .plan-price,
.plan.grey-35:hover .plan-footer {
  background-color: #d1d1d1;
}
.plan.grey-35:hover .plan-name {
  border-bottom: 1px solid #b7b7b7;
}
.plan.grey-35:hover .plan-price {
  border-top: 1px solid #d6d6d6;
}
.plan.grey-40 > li.plan-footer {
  background-color: #acacac;
  border-top: 1px solid #9d9d9d;
}
.plan.grey-40 > li.plan-footer .pricing-select {
  color: #f9f9f9;
  background-color: #7e7e7e;
  border: 1px solid #b9b9b9;
}
.plan.grey-40 > li.plan-footer .pricing-select:hover {
  background-color: #656565;
  color: #ffffff;
}
.plan.grey-40 .plan-name,
.plan.grey-40 .plan-price {
  background-color: #acacac;
  border-bottom: 1px solid #9d9d9d;
  color: #797979;
  -o-text-shadow: 0 1px 1px #ececec;
  -moz-text-shadow: 0 1px 1px #ececec;
  -ms-text-shadow: 0 1px 1px #ececec;
  -webkit-text-shadow: 0 1px 1px #ececec;
  text-shadow: 0 1px 1px #ececec;
}
.plan.grey-40 .plan-name {
  border-bottom: 1px solid #9d9d9d;
}
.plan.grey-40 .plan-price {
  border-top: 1px solid #bbbbbb;
}
.plan.grey-40.featured .plan-header,
.plan.grey-40.featured .plan-name,
.plan.grey-40.featured .plan-price,
.plan.grey-40.featured .plan-footer {
  background-color: #b9b9b9;
}
.plan.grey-40:hover .plan-header,
.plan.grey-40:hover .plan-name,
.plan.grey-40:hover .plan-price,
.plan.grey-40:hover .plan-footer {
  background-color: #c6c6c6;
}
.plan.grey-40:hover .plan-name {
  border-bottom: 1px solid #acacac;
}
.plan.grey-40:hover .plan-price {
  border-top: 1px solid #cbcbcb;
}
.plan.grey-45 > li.plan-footer {
  background-color: #a1a1a1;
  border-top: 1px solid #929292;
}
.plan.grey-45 > li.plan-footer .pricing-select {
  color: #eeeeee;
  background-color: #737373;
  border: 1px solid #aeaeae;
}
.plan.grey-45 > li.plan-footer .pricing-select:hover {
  background-color: #5a5a5a;
  color: #ffffff;
}
.plan.grey-45 .plan-name,
.plan.grey-45 .plan-price {
  background-color: #a1a1a1;
  border-bottom: 1px solid #929292;
  color: #6e6e6e;
  -o-text-shadow: 0 1px 1px #e1e1e1;
  -moz-text-shadow: 0 1px 1px #e1e1e1;
  -ms-text-shadow: 0 1px 1px #e1e1e1;
  -webkit-text-shadow: 0 1px 1px #e1e1e1;
  text-shadow: 0 1px 1px #e1e1e1;
}
.plan.grey-45 .plan-name {
  border-bottom: 1px solid #929292;
}
.plan.grey-45 .plan-price {
  border-top: 1px solid #b0b0b0;
}
.plan.grey-45.featured .plan-header,
.plan.grey-45.featured .plan-name,
.plan.grey-45.featured .plan-price,
.plan.grey-45.featured .plan-footer {
  background-color: #aeaeae;
}
.plan.grey-45:hover .plan-header,
.plan.grey-45:hover .plan-name,
.plan.grey-45:hover .plan-price,
.plan.grey-45:hover .plan-footer {
  background-color: #bbbbbb;
}
.plan.grey-45:hover .plan-name {
  border-bottom: 1px solid #a1a1a1;
}
.plan.grey-45:hover .plan-price {
  border-top: 1px solid #c0c0c0;
}
.plan.grey-50 > li.plan-footer {
  background-color: #959595;
  border-top: 1px solid #868686;
}
.plan.grey-50 > li.plan-footer .pricing-select {
  color: #e2e2e2;
  background-color: #676767;
  border: 1px solid #a2a2a2;
}
.plan.grey-50 > li.plan-footer .pricing-select:hover {
  background-color: #4e4e4e;
  color: #fbfbfb;
}
.plan.grey-50 .plan-name,
.plan.grey-50 .plan-price {
  background-color: #959595;
  border-bottom: 1px solid #868686;
  color: #626262;
  -o-text-shadow: 0 1px 1px #d5d5d5;
  -moz-text-shadow: 0 1px 1px #d5d5d5;
  -ms-text-shadow: 0 1px 1px #d5d5d5;
  -webkit-text-shadow: 0 1px 1px #d5d5d5;
  text-shadow: 0 1px 1px #d5d5d5;
}
.plan.grey-50 .plan-name {
  border-bottom: 1px solid #868686;
}
.plan.grey-50 .plan-price {
  border-top: 1px solid #a4a4a4;
}
.plan.grey-50.featured .plan-header,
.plan.grey-50.featured .plan-name,
.plan.grey-50.featured .plan-price,
.plan.grey-50.featured .plan-footer {
  background-color: #a2a2a2;
}
.plan.grey-50:hover .plan-header,
.plan.grey-50:hover .plan-name,
.plan.grey-50:hover .plan-price,
.plan.grey-50:hover .plan-footer {
  background-color: #afafaf;
}
.plan.grey-50:hover .plan-name {
  border-bottom: 1px solid #959595;
}
.plan.grey-50:hover .plan-price {
  border-top: 1px solid #b4b4b4;
}
.plan.grey-55 > li.plan-footer {
  background-color: #898989;
  border-top: 1px solid #7a7a7a;
}
.plan.grey-55 > li.plan-footer .pricing-select {
  color: #d5d5d5;
  background-color: #5b5b5b;
  border: 1px solid #969696;
}
.plan.grey-55 > li.plan-footer .pricing-select:hover {
  background-color: #424242;
  color: #efefef;
}
.plan.grey-55 .plan-name,
.plan.grey-55 .plan-price {
  background-color: #898989;
  border-bottom: 1px solid #7a7a7a;
  color: #565656;
  -o-text-shadow: 0 1px 1px #c9c9c9;
  -moz-text-shadow: 0 1px 1px #c9c9c9;
  -ms-text-shadow: 0 1px 1px #c9c9c9;
  -webkit-text-shadow: 0 1px 1px #c9c9c9;
  text-shadow: 0 1px 1px #c9c9c9;
}
.plan.grey-55 .plan-name {
  border-bottom: 1px solid #7a7a7a;
}
.plan.grey-55 .plan-price {
  border-top: 1px solid #989898;
}
.plan.grey-55.featured .plan-header,
.plan.grey-55.featured .plan-name,
.plan.grey-55.featured .plan-price,
.plan.grey-55.featured .plan-footer {
  background-color: #969696;
}
.plan.grey-55:hover .plan-header,
.plan.grey-55:hover .plan-name,
.plan.grey-55:hover .plan-price,
.plan.grey-55:hover .plan-footer {
  background-color: #a3a3a3;
}
.plan.grey-55:hover .plan-name {
  border-bottom: 1px solid #898989;
}
.plan.grey-55:hover .plan-price {
  border-top: 1px solid #a8a8a8;
}
.plan.grey-60 > li.plan-footer {
  background-color: #7d7d7d;
  border-top: 1px solid #6e6e6e;
}
.plan.grey-60 > li.plan-footer .pricing-select {
  color: #cacaca;
  background-color: #4f4f4f;
  border: 1px solid #8a8a8a;
}
.plan.grey-60 > li.plan-footer .pricing-select:hover {
  background-color: #363636;
  color: #e3e3e3;
}
.plan.grey-60 .plan-name,
.plan.grey-60 .plan-price {
  background-color: #7d7d7d;
  border-bottom: 1px solid #6e6e6e;
  color: #4a4a4a;
  -o-text-shadow: 0 1px 1px #bdbdbd;
  -moz-text-shadow: 0 1px 1px #bdbdbd;
  -ms-text-shadow: 0 1px 1px #bdbdbd;
  -webkit-text-shadow: 0 1px 1px #bdbdbd;
  text-shadow: 0 1px 1px #bdbdbd;
}
.plan.grey-60 .plan-name {
  border-bottom: 1px solid #6e6e6e;
}
.plan.grey-60 .plan-price {
  border-top: 1px solid #8c8c8c;
}
.plan.grey-60.featured .plan-header,
.plan.grey-60.featured .plan-name,
.plan.grey-60.featured .plan-price,
.plan.grey-60.featured .plan-footer {
  background-color: #8a8a8a;
}
.plan.grey-60:hover .plan-header,
.plan.grey-60:hover .plan-name,
.plan.grey-60:hover .plan-price,
.plan.grey-60:hover .plan-footer {
  background-color: #979797;
}
.plan.grey-60:hover .plan-name {
  border-bottom: 1px solid #7d7d7d;
}
.plan.grey-60:hover .plan-price {
  border-top: 1px solid #9c9c9c;
}
.plan.grey-65 > li.plan-footer {
  background-color: #707070;
  border-top: 1px solid #616161;
}
.plan.grey-65 > li.plan-footer .pricing-select {
  color: #bdbdbd;
  background-color: #424242;
  border: 1px solid #7d7d7d;
}
.plan.grey-65 > li.plan-footer .pricing-select:hover {
  background-color: #292929;
  color: #d6d6d6;
}
.plan.grey-65 .plan-name,
.plan.grey-65 .plan-price {
  background-color: #707070;
  border-bottom: 1px solid #616161;
  color: #3d3d3d;
  -o-text-shadow: 0 1px 1px #b0b0b0;
  -moz-text-shadow: 0 1px 1px #b0b0b0;
  -ms-text-shadow: 0 1px 1px #b0b0b0;
  -webkit-text-shadow: 0 1px 1px #b0b0b0;
  text-shadow: 0 1px 1px #b0b0b0;
}
.plan.grey-65 .plan-name {
  border-bottom: 1px solid #616161;
}
.plan.grey-65 .plan-price {
  border-top: 1px solid #7f7f7f;
}
.plan.grey-65.featured .plan-header,
.plan.grey-65.featured .plan-name,
.plan.grey-65.featured .plan-price,
.plan.grey-65.featured .plan-footer {
  background-color: #7d7d7d;
}
.plan.grey-65:hover .plan-header,
.plan.grey-65:hover .plan-name,
.plan.grey-65:hover .plan-price,
.plan.grey-65:hover .plan-footer {
  background-color: #8a8a8a;
}
.plan.grey-65:hover .plan-name {
  border-bottom: 1px solid #707070;
}
.plan.grey-65:hover .plan-price {
  border-top: 1px solid #8f8f8f;
}
.plan.grey-70 > li.plan-footer {
  background-color: #636363;
  border-top: 1px solid #545454;
}
.plan.grey-70 > li.plan-footer .pricing-select {
  color: #b0b0b0;
  background-color: #353535;
  border: 1px solid #707070;
}
.plan.grey-70 > li.plan-footer .pricing-select:hover {
  background-color: #1c1c1c;
  color: #c9c9c9;
}
.plan.grey-70 .plan-name,
.plan.grey-70 .plan-price {
  background-color: #636363;
  border-bottom: 1px solid #545454;
  color: #303030;
  -o-text-shadow: 0 1px 1px #a3a3a3;
  -moz-text-shadow: 0 1px 1px #a3a3a3;
  -ms-text-shadow: 0 1px 1px #a3a3a3;
  -webkit-text-shadow: 0 1px 1px #a3a3a3;
  text-shadow: 0 1px 1px #a3a3a3;
}
.plan.grey-70 .plan-name {
  border-bottom: 1px solid #545454;
}
.plan.grey-70 .plan-price {
  border-top: 1px solid #727272;
}
.plan.grey-70.featured .plan-header,
.plan.grey-70.featured .plan-name,
.plan.grey-70.featured .plan-price,
.plan.grey-70.featured .plan-footer {
  background-color: #707070;
}
.plan.grey-70:hover .plan-header,
.plan.grey-70:hover .plan-name,
.plan.grey-70:hover .plan-price,
.plan.grey-70:hover .plan-footer {
  background-color: #7d7d7d;
}
.plan.grey-70:hover .plan-name {
  border-bottom: 1px solid #636363;
}
.plan.grey-70:hover .plan-price {
  border-top: 1px solid #828282;
}
.plan.grey-75 > li.plan-footer {
  background-color: #555555;
  border-top: 1px solid #464646;
}
.plan.grey-75 > li.plan-footer .pricing-select {
  color: #a2a2a2;
  background-color: #272727;
  border: 1px solid #626262;
}
.plan.grey-75 > li.plan-footer .pricing-select:hover {
  background-color: #0e0e0e;
  color: #bbbbbb;
}
.plan.grey-75 .plan-name,
.plan.grey-75 .plan-price {
  background-color: #555555;
  border-bottom: 1px solid #464646;
  color: #222222;
  -o-text-shadow: 0 1px 1px #959595;
  -moz-text-shadow: 0 1px 1px #959595;
  -ms-text-shadow: 0 1px 1px #959595;
  -webkit-text-shadow: 0 1px 1px #959595;
  text-shadow: 0 1px 1px #959595;
}
.plan.grey-75 .plan-name {
  border-bottom: 1px solid #464646;
}
.plan.grey-75 .plan-price {
  border-top: 1px solid #646464;
}
.plan.grey-75.featured .plan-header,
.plan.grey-75.featured .plan-name,
.plan.grey-75.featured .plan-price,
.plan.grey-75.featured .plan-footer {
  background-color: #626262;
}
.plan.grey-75:hover .plan-header,
.plan.grey-75:hover .plan-name,
.plan.grey-75:hover .plan-price,
.plan.grey-75:hover .plan-footer {
  background-color: #6f6f6f;
}
.plan.grey-75:hover .plan-name {
  border-bottom: 1px solid #555555;
}
.plan.grey-75:hover .plan-price {
  border-top: 1px solid #747474;
}
.plan.grey-80 > li.plan-footer {
  background-color: #464646;
  border-top: 1px solid #373737;
}
.plan.grey-80 > li.plan-footer .pricing-select {
  color: #939393;
  background-color: #181818;
  border: 1px solid #535353;
}
.plan.grey-80 > li.plan-footer .pricing-select:hover {
  background-color: #000000;
  color: #acacac;
}
.plan.grey-80 .plan-name,
.plan.grey-80 .plan-price {
  background-color: #464646;
  border-bottom: 1px solid #373737;
  color: #131313;
  -o-text-shadow: 0 1px 1px #868686;
  -moz-text-shadow: 0 1px 1px #868686;
  -ms-text-shadow: 0 1px 1px #868686;
  -webkit-text-shadow: 0 1px 1px #868686;
  text-shadow: 0 1px 1px #868686;
}
.plan.grey-80 .plan-name {
  border-bottom: 1px solid #373737;
}
.plan.grey-80 .plan-price {
  border-top: 1px solid #555555;
}
.plan.grey-80.featured .plan-header,
.plan.grey-80.featured .plan-name,
.plan.grey-80.featured .plan-price,
.plan.grey-80.featured .plan-footer {
  background-color: #535353;
}
.plan.grey-80:hover .plan-header,
.plan.grey-80:hover .plan-name,
.plan.grey-80:hover .plan-price,
.plan.grey-80:hover .plan-footer {
  background-color: #606060;
}
.plan.grey-80:hover .plan-name {
  border-bottom: 1px solid #464646;
}
.plan.grey-80:hover .plan-price {
  border-top: 1px solid #656565;
}
.plan.grey-85 > li.plan-footer {
  background-color: #363636;
  border-top: 1px solid #272727;
}
.plan.grey-85 > li.plan-footer .pricing-select {
  color: #838383;
  background-color: #080808;
  border: 1px solid #434343;
}
.plan.grey-85 > li.plan-footer .pricing-select:hover {
  background-color: #000000;
  color: #9c9c9c;
}
.plan.grey-85 .plan-name,
.plan.grey-85 .plan-price {
  background-color: #363636;
  border-bottom: 1px solid #272727;
  color: #030303;
  -o-text-shadow: 0 1px 1px #767676;
  -moz-text-shadow: 0 1px 1px #767676;
  -ms-text-shadow: 0 1px 1px #767676;
  -webkit-text-shadow: 0 1px 1px #767676;
  text-shadow: 0 1px 1px #767676;
}
.plan.grey-85 .plan-name {
  border-bottom: 1px solid #272727;
}
.plan.grey-85 .plan-price {
  border-top: 1px solid #454545;
}
.plan.grey-85.featured .plan-header,
.plan.grey-85.featured .plan-name,
.plan.grey-85.featured .plan-price,
.plan.grey-85.featured .plan-footer {
  background-color: #434343;
}
.plan.grey-85:hover .plan-header,
.plan.grey-85:hover .plan-name,
.plan.grey-85:hover .plan-price,
.plan.grey-85:hover .plan-footer {
  background-color: #505050;
}
.plan.grey-85:hover .plan-name {
  border-bottom: 1px solid #363636;
}
.plan.grey-85:hover .plan-price {
  border-top: 1px solid #555555;
}
.plan.grey-90 > li.plan-footer {
  background-color: #252525;
  border-top: 1px solid #161616;
}
.plan.grey-90 > li.plan-footer .pricing-select {
  color: #727272;
  background-color: #000000;
  border: 1px solid #323232;
}
.plan.grey-90 > li.plan-footer .pricing-select:hover {
  background-color: #000000;
  color: #8b8b8b;
}
.plan.grey-90 .plan-name,
.plan.grey-90 .plan-price {
  background-color: #252525;
  border-bottom: 1px solid #161616;
  color: #000000;
  -o-text-shadow: 0 1px 1px #656565;
  -moz-text-shadow: 0 1px 1px #656565;
  -ms-text-shadow: 0 1px 1px #656565;
  -webkit-text-shadow: 0 1px 1px #656565;
  text-shadow: 0 1px 1px #656565;
}
.plan.grey-90 .plan-name {
  border-bottom: 1px solid #161616;
}
.plan.grey-90 .plan-price {
  border-top: 1px solid #343434;
}
.plan.grey-90.featured .plan-header,
.plan.grey-90.featured .plan-name,
.plan.grey-90.featured .plan-price,
.plan.grey-90.featured .plan-footer {
  background-color: #323232;
}
.plan.grey-90:hover .plan-header,
.plan.grey-90:hover .plan-name,
.plan.grey-90:hover .plan-price,
.plan.grey-90:hover .plan-footer {
  background-color: #3f3f3f;
}
.plan.grey-90:hover .plan-name {
  border-bottom: 1px solid #252525;
}
.plan.grey-90:hover .plan-price {
  border-top: 1px solid #444444;
}
.plan.red > li.plan-footer {
  background-color: #ea2a29;
  border-top: 1px solid #df1716;
}
.plan.red > li.plan-footer .pricing-select {
  color: #f8b5b4;
  background-color: #a71110;
  border: 1px solid #ec4140;
}
.plan.red > li.plan-footer .pricing-select:hover {
  background-color: #780c0c;
  color: #fce3e3;
}
.plan.red .plan-name,
.plan.red .plan-price {
  background-color: #ea2a29;
  border-bottom: 1px solid #df1716;
  color: #9e100f;
  -o-text-shadow: 0 1px 1px #f59e9d;
  -moz-text-shadow: 0 1px 1px #f59e9d;
  -ms-text-shadow: 0 1px 1px #f59e9d;
  -webkit-text-shadow: 0 1px 1px #f59e9d;
  text-shadow: 0 1px 1px #f59e9d;
}
.plan.red .plan-name {
  border-bottom: 1px solid #df1716;
}
.plan.red .plan-price {
  border-top: 1px solid #ed4645;
}
.plan.red.featured .plan-header,
.plan.red.featured .plan-name,
.plan.red.featured .plan-price,
.plan.red.featured .plan-footer {
  background-color: #ec4140;
}
.plan.red:hover .plan-header,
.plan.red:hover .plan-name,
.plan.red:hover .plan-price,
.plan.red:hover .plan-footer {
  background-color: #ef5857;
}
.plan.red:hover .plan-name {
  border-bottom: 1px solid #ea2a29;
}
.plan.red:hover .plan-price {
  border-top: 1px solid #ef6161;
}
.plan.orange > li.plan-footer {
  background-color: #f16729;
  border-top: 1px solid #ec540f;
}
.plan.orange > li.plan-footer .pricing-select {
  color: #facdb9;
  background-color: #b33f0c;
  border: 1px solid #f37841;
}
.plan.orange > li.plan-footer .pricing-select:hover {
  background-color: #832e09;
  color: #feefe8;
}
.plan.orange .plan-name,
.plan.orange .plan-price {
  background-color: #f16729;
  border-bottom: 1px solid #ec540f;
  color: #a93c0b;
  -o-text-shadow: 0 1px 1px #f9bca1;
  -moz-text-shadow: 0 1px 1px #f9bca1;
  -ms-text-shadow: 0 1px 1px #f9bca1;
  -webkit-text-shadow: 0 1px 1px #f9bca1;
  text-shadow: 0 1px 1px #f9bca1;
}
.plan.orange .plan-name {
  border-bottom: 1px solid #ec540f;
}
.plan.orange .plan-price {
  border-top: 1px solid #f37b46;
}
.plan.orange.featured .plan-header,
.plan.orange.featured .plan-name,
.plan.orange.featured .plan-price,
.plan.orange.featured .plan-footer {
  background-color: #f37841;
}
.plan.orange:hover .plan-header,
.plan.orange:hover .plan-name,
.plan.orange:hover .plan-price,
.plan.orange:hover .plan-footer {
  background-color: #f48959;
}
.plan.orange:hover .plan-name {
  border-bottom: 1px solid #f16729;
}
.plan.orange:hover .plan-price {
  border-top: 1px solid #f59062;
}
.plan.pure-orange > li.plan-footer {
  background-color: #ff6a00;
  border-top: 1px solid #e05d00;
}
.plan.pure-orange > li.plan-footer .pricing-select {
  color: #ffc399;
  background-color: #a34400;
  border: 1px solid #ff791a;
}
.plan.pure-orange > li.plan-footer .pricing-select:hover {
  background-color: #702f00;
  color: #ffe1cc;
}
.plan.pure-orange .plan-name,
.plan.pure-orange .plan-price {
  background-color: #ff6a00;
  border-bottom: 1px solid #e05d00;
  color: #994000;
  -o-text-shadow: 0 1px 1px #ffb580;
  -moz-text-shadow: 0 1px 1px #ffb580;
  -ms-text-shadow: 0 1px 1px #ffb580;
  -webkit-text-shadow: 0 1px 1px #ffb580;
  text-shadow: 0 1px 1px #ffb580;
}
.plan.pure-orange .plan-name {
  border-bottom: 1px solid #e05d00;
}
.plan.pure-orange .plan-price {
  border-top: 1px solid #ff7c1f;
}
.plan.pure-orange.featured .plan-header,
.plan.pure-orange.featured .plan-name,
.plan.pure-orange.featured .plan-price,
.plan.pure-orange.featured .plan-footer {
  background-color: #ff791a;
}
.plan.pure-orange:hover .plan-header,
.plan.pure-orange:hover .plan-name,
.plan.pure-orange:hover .plan-price,
.plan.pure-orange:hover .plan-footer {
  background-color: #ff8833;
}
.plan.pure-orange:hover .plan-name {
  border-bottom: 1px solid #ff6a00;
}
.plan.pure-orange:hover .plan-price {
  border-top: 1px solid #ff8e3d;
}
.plan.light-orange > li.plan-footer {
  background-color: #f89322;
  border-top: 1px solid #f48408;
}
.plan.light-orange > li.plan-footer .pricing-select {
  color: #fddbb6;
  background-color: #b86406;
  border: 1px solid #f99f3b;
}
.plan.light-orange > li.plan-footer .pricing-select:hover {
  background-color: #874904;
  color: #fef4e8;
}
.plan.light-orange .plan-name,
.plan.light-orange .plan-price {
  background-color: #f89322;
  border-bottom: 1px solid #f48408;
  color: #ae5f06;
  -o-text-shadow: 0 1px 1px #fccf9e;
  -moz-text-shadow: 0 1px 1px #fccf9e;
  -ms-text-shadow: 0 1px 1px #fccf9e;
  -webkit-text-shadow: 0 1px 1px #fccf9e;
  text-shadow: 0 1px 1px #fccf9e;
}
.plan.light-orange .plan-name {
  border-bottom: 1px solid #f48408;
}
.plan.light-orange .plan-price {
  border-top: 1px solid #f9a140;
}
.plan.light-orange.featured .plan-header,
.plan.light-orange.featured .plan-name,
.plan.light-orange.featured .plan-price,
.plan.light-orange.featured .plan-footer {
  background-color: #f99f3b;
}
.plan.light-orange:hover .plan-header,
.plan.light-orange:hover .plan-name,
.plan.light-orange:hover .plan-price,
.plan.light-orange:hover .plan-footer {
  background-color: #faab53;
}
.plan.light-orange:hover .plan-name {
  border-bottom: 1px solid #f89322;
}
.plan.light-orange:hover .plan-price {
  border-top: 1px solid #fab05d;
}
.plan.light-green > li.plan-footer {
  background-color: #87b11d;
  border-top: 1px solid #739719;
}
.plan.light-green > li.plan-footer .pricing-select {
  color: #cbea7d;
  background-color: #4b6210;
  border: 1px solid #98c721;
}
.plan.light-green > li.plan-footer .pricing-select:hover {
  background-color: #293609;
  color: #ddf1a9;
}
.plan.light-green .plan-name,
.plan.light-green .plan-price {
  background-color: #87b11d;
  border-bottom: 1px solid #739719;
  color: #44590f;
  -o-text-shadow: 0 1px 1px #c2e667;
  -moz-text-shadow: 0 1px 1px #c2e667;
  -ms-text-shadow: 0 1px 1px #c2e667;
  -webkit-text-shadow: 0 1px 1px #c2e667;
  text-shadow: 0 1px 1px #c2e667;
}
.plan.light-green .plan-name {
  border-bottom: 1px solid #739719;
}
.plan.light-green .plan-price {
  border-top: 1px solid #9bcb21;
}
.plan.light-green.featured .plan-header,
.plan.light-green.featured .plan-name,
.plan.light-green.featured .plan-price,
.plan.light-green.featured .plan-footer {
  background-color: #98c721;
}
.plan.light-green:hover .plan-header,
.plan.light-green:hover .plan-name,
.plan.light-green:hover .plan-price,
.plan.light-green:hover .plan-footer {
  background-color: #a8db26;
}
.plan.light-green:hover .plan-name {
  border-bottom: 1px solid #87b11d;
}
.plan.light-green:hover .plan-price {
  border-top: 1px solid #abdd2e;
}
.plan.green > li.plan-footer {
  background-color: #008253;
  border-top: 1px solid #00633f;
}
.plan.green > li.plan-footer .pricing-select {
  color: #1cffad;
  background-color: #002618;
  border: 1px solid #009b63;
}
.plan.green > li.plan-footer .pricing-select:hover {
  background-color: #000000;
  color: #4fffbf;
}
.plan.green .plan-name,
.plan.green .plan-price {
  background-color: #008253;
  border-bottom: 1px solid #00633f;
  color: #001c12;
  -o-text-shadow: 0 1px 1px #02ffa4;
  -moz-text-shadow: 0 1px 1px #02ffa4;
  -ms-text-shadow: 0 1px 1px #02ffa4;
  -webkit-text-shadow: 0 1px 1px #02ffa4;
  text-shadow: 0 1px 1px #02ffa4;
}
.plan.green .plan-name {
  border-bottom: 1px solid #00633f;
}
.plan.green .plan-price {
  border-top: 1px solid #00a167;
}
.plan.green.featured .plan-header,
.plan.green.featured .plan-name,
.plan.green.featured .plan-price,
.plan.green.featured .plan-footer {
  background-color: #009b63;
}
.plan.green:hover .plan-header,
.plan.green:hover .plan-name,
.plan.green:hover .plan-price,
.plan.green:hover .plan-footer {
  background-color: #00b574;
}
.plan.green:hover .plan-name {
  border-bottom: 1px solid #008253;
}
.plan.green:hover .plan-price {
  border-top: 1px solid #00bf7a;
}
.plan.blue > li.plan-footer {
  background-color: #3277b5;
  border-top: 1px solid #2b679d;
}
.plan.blue > li.plan-footer .pricing-select {
  color: #9cc2e4;
  background-color: #1e486d;
  border: 1px solid #3884c8;
}
.plan.blue > li.plan-footer .pricing-select:hover {
  background-color: #132d45;
  color: #c4dbef;
}
.plan.blue .plan-name,
.plan.blue .plan-price {
  background-color: #3277b5;
  border-bottom: 1px solid #2b679d;
  color: #1c4265;
  -o-text-shadow: 0 1px 1px #88b6de;
  -moz-text-shadow: 0 1px 1px #88b6de;
  -ms-text-shadow: 0 1px 1px #88b6de;
  -webkit-text-shadow: 0 1px 1px #88b6de;
  text-shadow: 0 1px 1px #88b6de;
}
.plan.blue .plan-name {
  border-bottom: 1px solid #2b679d;
}
.plan.blue .plan-price {
  border-top: 1px solid #3c87c9;
}
.plan.blue.featured .plan-header,
.plan.blue.featured .plan-name,
.plan.blue.featured .plan-price,
.plan.blue.featured .plan-footer {
  background-color: #3884c8;
}
.plan.blue:hover .plan-header,
.plan.blue:hover .plan-name,
.plan.blue:hover .plan-price,
.plan.blue:hover .plan-footer {
  background-color: #4c90ce;
}
.plan.blue:hover .plan-name {
  border-bottom: 1px solid #3277b5;
}
.plan.blue:hover .plan-price {
  border-top: 1px solid #5495d0;
}
.plan.dark-blue > li.plan-footer {
  background-color: #4c549f;
  border-top: 1px solid #42498a;
}
.plan.dark-blue > li.plan-footer .pricing-select {
  color: #acb1d8;
  background-color: #2e3361;
  border: 1px solid #565fae;
}
.plan.dark-blue > li.plan-footer .pricing-select:hover {
  background-color: #1e213e;
  color: #cfd1e8;
}
.plan.dark-blue .plan-name,
.plan.dark-blue .plan-price {
  background-color: #4c549f;
  border-bottom: 1px solid #42498a;
  color: #2b305a;
  -o-text-shadow: 0 1px 1px #9ba0cf;
  -moz-text-shadow: 0 1px 1px #9ba0cf;
  -ms-text-shadow: 0 1px 1px #9ba0cf;
  -webkit-text-shadow: 0 1px 1px #9ba0cf;
  text-shadow: 0 1px 1px #9ba0cf;
}
.plan.dark-blue .plan-name {
  border-bottom: 1px solid #42498a;
}
.plan.dark-blue .plan-price {
  border-top: 1px solid #5a62b0;
}
.plan.dark-blue.featured .plan-header,
.plan.dark-blue.featured .plan-name,
.plan.dark-blue.featured .plan-price,
.plan.dark-blue.featured .plan-footer {
  background-color: #565fae;
}
.plan.dark-blue:hover .plan-header,
.plan.dark-blue:hover .plan-name,
.plan.dark-blue:hover .plan-price,
.plan.dark-blue:hover .plan-footer {
  background-color: #676fb7;
}
.plan.dark-blue:hover .plan-name {
  border-bottom: 1px solid #4c549f;
}
.plan.dark-blue:hover .plan-price {
  border-top: 1px solid #6e76ba;
}
.plan.purple > li.plan-footer {
  background-color: #764394;
  border-top: 1px solid #65397f;
}
.plan.purple > li.plan-footer .pricing-select {
  color: #bf9dd3;
  background-color: #442655;
  border: 1px solid #844ba6;
}
.plan.purple > li.plan-footer .pricing-select:hover {
  background-color: #281632;
  color: #d6c0e3;
}
.plan.purple .plan-name,
.plan.purple .plan-price {
  background-color: #764394;
  border-bottom: 1px solid #65397f;
  color: #3e234e;
  -o-text-shadow: 0 1px 1px #b38ccb;
  -moz-text-shadow: 0 1px 1px #b38ccb;
  -ms-text-shadow: 0 1px 1px #b38ccb;
  -webkit-text-shadow: 0 1px 1px #b38ccb;
  text-shadow: 0 1px 1px #b38ccb;
}
.plan.purple .plan-name {
  border-bottom: 1px solid #65397f;
}
.plan.purple .plan-price {
  border-top: 1px solid #874da9;
}
.plan.purple.featured .plan-header,
.plan.purple.featured .plan-name,
.plan.purple.featured .plan-price,
.plan.purple.featured .plan-footer {
  background-color: #844ba6;
}
.plan.purple:hover .plan-header,
.plan.purple:hover .plan-name,
.plan.purple:hover .plan-price,
.plan.purple:hover .plan-footer {
  background-color: #9157b3;
}
.plan.purple:hover .plan-name {
  border-bottom: 1px solid #764394;
}
.plan.purple:hover .plan-price {
  border-top: 1px solid #965eb6;
}
.plan.pink > li.plan-footer {
  background-color: #ca0d86;
  border-top: 1px solid #ad0b73;
}
.plan.pink > li.plan-footer .pricing-select {
  color: #f67aca;
  background-color: #74074d;
  border: 1px solid #e20f96;
}
.plan.pink > li.plan-footer .pricing-select:hover {
  background-color: #44042d;
  color: #f9aadd;
}
.plan.pink .plan-name,
.plan.pink .plan-price {
  background-color: #ca0d86;
  border-bottom: 1px solid #ad0b73;
  color: #6a0746;
  -o-text-shadow: 0 1px 1px #f562c0;
  -moz-text-shadow: 0 1px 1px #f562c0;
  -ms-text-shadow: 0 1px 1px #f562c0;
  -webkit-text-shadow: 0 1px 1px #f562c0;
  text-shadow: 0 1px 1px #f562c0;
}
.plan.pink .plan-name {
  border-bottom: 1px solid #ad0b73;
}
.plan.pink .plan-price {
  border-top: 1px solid #e70f99;
}
.plan.pink.featured .plan-header,
.plan.pink.featured .plan-name,
.plan.pink.featured .plan-price,
.plan.pink.featured .plan-footer {
  background-color: #e20f96;
}
.plan.pink:hover .plan-header,
.plan.pink:hover .plan-name,
.plan.pink:hover .plan-price,
.plan.pink:hover .plan-footer {
  background-color: #f01aa3;
}
.plan.pink:hover .plan-name {
  border-bottom: 1px solid #ca0d86;
}
.plan.pink:hover .plan-price {
  border-top: 1px solid #f123a7;
}
.plan.sky-blue > li.plan-footer {
  background-color: #19e7e9;
  border-top: 1px solid #14ced0;
}
.plan.sky-blue > li.plan-footer .pricing-select {
  color: #a5f6f6;
  background-color: #0f9698;
  border: 1px solid #30e9eb;
}
.plan.sky-blue > li.plan-footer .pricing-select:hover {
  background-color: #0a6869;
  color: #d3fafb;
}
.plan.sky-blue .plan-name,
.plan.sky-blue .plan-price {
  background-color: #19e7e9;
  border-bottom: 1px solid #14ced0;
  color: #0e8d8e;
  -o-text-shadow: 0 1px 1px #8df3f4;
  -moz-text-shadow: 0 1px 1px #8df3f4;
  -ms-text-shadow: 0 1px 1px #8df3f4;
  -webkit-text-shadow: 0 1px 1px #8df3f4;
  text-shadow: 0 1px 1px #8df3f4;
}
.plan.sky-blue .plan-name {
  border-bottom: 1px solid #14ced0;
}
.plan.sky-blue .plan-price {
  border-top: 1px solid #35eaec;
}
.plan.sky-blue.featured .plan-header,
.plan.sky-blue.featured .plan-name,
.plan.sky-blue.featured .plan-price,
.plan.sky-blue.featured .plan-footer {
  background-color: #30e9eb;
}
.plan.sky-blue:hover .plan-header,
.plan.sky-blue:hover .plan-name,
.plan.sky-blue:hover .plan-price,
.plan.sky-blue:hover .plan-footer {
  background-color: #48eced;
}
.plan.sky-blue:hover .plan-name {
  border-bottom: 1px solid #19e7e9;
}
.plan.sky-blue:hover .plan-price {
  border-top: 1px solid #51edee;
}
