.plan.color-theme > li.plan-footer {
  background-color: #00ffff;
  border-top: 1px solid #00e0e0;
}
.plan.color-theme > li.plan-footer .pricing-select {
  color: #99ffff;
  background-color: #00a3a3;
  border: 1px solid #1affff;
}
.plan.color-theme > li.plan-footer .pricing-select:hover {
  background-color: #007070;
  color: #ccffff;
}
.plan.color-theme .plan-name,
.plan.color-theme .plan-price {
  background-color: #00ffff;
  border-bottom: 1px solid #00e0e0;
  color: #009999;
  -o-text-shadow: 0 1px 1px #80ffff;
  -moz-text-shadow: 0 1px 1px #80ffff;
  -ms-text-shadow: 0 1px 1px #80ffff;
  -webkit-text-shadow: 0 1px 1px #80ffff;
  text-shadow: 0 1px 1px #80ffff;
}
.plan.color-theme .plan-name {
  border-bottom: 1px solid #00e0e0;
}
.plan.color-theme .plan-price {
  border-top: 1px solid #1fffff;
}
.plan.color-theme.featured .plan-header,
.plan.color-theme.featured .plan-name,
.plan.color-theme.featured .plan-price,
.plan.color-theme.featured .plan-footer {
  background-color: #1affff;
}
.plan.color-theme:hover .plan-header,
.plan.color-theme:hover .plan-name,
.plan.color-theme:hover .plan-price,
.plan.color-theme:hover .plan-footer {
  background-color: #33ffff;
}
.plan.color-theme:hover .plan-name {
  border-bottom: 1px solid #00ffff;
}
.plan.color-theme:hover .plan-price {
  border-top: 1px solid #3dffff;
}
